export ZSH="{{ ansible_env.HOME }}/.oh-my-zsh"
ZSH_THEME="agnoster"
plugins=(git git-prompt sudo ansible aws terraform colorize docker zsh-autosuggestions colored-man-pages copyfile dirhistory kubectl docker-machine history emoji encode64)
source $ZSH/oh-my-zsh.sh

# User configuration
setopt EXTENDED_HISTORY
setopt HIST_SAVE_NO_DUPS
setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_VERIFY
setopt HIST_IGNORE_SPACE
setopt SHARE_HISTORY

# Add any custom configurations here